# Python cache
__pycache__/
*.pyc

# Virtual environments
env/
venv/

# Flask instance folder
instance/

# Node / Prettier files
node_modules/
package-lock.json

# Environment variables (⚠️ important)
.env

# SQLite DBs
*.sqlite3
*.db

# IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
